@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Quicksand:wght@400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

header.navbar-container {
  position: fixed;
  width: 100%;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
}

header.navbar-container .nav-list ul {
  display: flex;
  justify-content: first baseline;
  gap: 0 3rem;
}

header.navbar-container .nav-list ul li {
  list-style-type: none;
}

header.navbar-container .nav-list ul li a {
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: bold;
  color: black;
  transition: all 0.2s ease-in-out;
}

header.navbar-container a.nav-home {
  color: #f45050;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

header.navbar-container .nav-list ul li a:hover {
  color: #f45050;
  font-weight: bold;
}

.menu-toggle {
  display: none;
}

main .home-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main .home-container .profile h1.name-line {
  color: #f45050;
  font-size: 2rem;
  margin: 0;
}

main .home-container .profile h1.name-line span.my-name {
  color: black;
  font-size: 3rem;
}

main .home-container .profile h2.headline {
  color: rgb(100, 116, 139);
  margin: 0;
}

main .home-container .profile button {
  background-color: #f45050;
  padding: 1rem 2rem;
  margin: 3rem 0;
  border-radius: 2rem;
  border-style: none;
  transition: all 0.1s ease-in-out;
}

main .home-container .profile button a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

main .photo-image img {
  width: 27rem;
}

main .about-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

main .about-container .about {
  /* margin: 3rem 5rem; */
  width: 50%;
  padding: 6rem 6rem;
}

main .about-container .about h4 {
  font-size: 2rem;
}

main .about-container .about p {
  font-size: 1.5rem;
}

main .about-container .experiences {
  margin: 0 5rem;
  width: 50%;
}

main .about-container .experiences h4 {
  font-size: 2rem;
}

main .about-container .experiences .timeline .outer {
  border-left: 2px solid #333;
}

main .about-container .experiences .timeline .outer .card {
  position: relative;
  margin: 0 0 20px 20px;
  padding: 10px;
  background-color: #333;
  color: gray;
  border-radius: 8px;
  max-width: 400px;
}

main .about-container .experiences .timeline .outer .card .info .title {
  color: #f45050;
  position: relative;
}

main .about-container .experiences .timeline .outer .card .info .title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  left: -39px;
  border: 3px solid #f45050;
}

main .about-container .experiences .timeline .outer .card .info ul.exp-desc {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

main .about-container .experiences .timeline .outer .card .info ul.exp-desc li {
  list-style-type: none;
}

main .portfolio-container {
  height: auto;
  width: 100vw;
  background-color: #3c486b;
}

main .portfolio-container .port-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .portfolio-container .port-title-container h2 {
  font-size: 2rem;
  color: white;
  padding-top: 6rem;
  margin-bottom: 3rem;
}

main .portfolio-container .portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

main .portfolio-container .portfolio-list .port-card {
  width: 25%;
  background-color: white;
  border-radius: 0.5rem;
  margin: 0 5rem 5rem 5rem;
}

main .portfolio-container .portfolio-list .port-card .port-img {
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
}

main .portfolio-container .portfolio-list .port-card .port-img img {
  object-fit: cover;
  transition: 2s ease;
  width: 100%;
}

main .portfolio-container .portfolio-list .port-card .port-img img:hover {
  transform: scale(1.1);
}

main .portfolio-container .portfolio-list .port-card .port-info {
  padding: 0 1rem 1rem 1rem;
}

main .portfolio-container .portfolio-list .port-card .port-info .port-title a {
  text-decoration: none;
  color: #f45050;
}

main .portfolio-container .portfolio-list .port-card .port-info ul.port-desc {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.icon {
  margin: 0rem 2rem 2rem 0;
}

main .skill-container {
  height: 100vh;
  width: 100vw;
  padding-top: 5rem;
}

main .skill-container .skill-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .skill-container .skill-title h2 {
  color: black;
  margin: 4rem 0 0 0;
  font-size: 2rem;
}

main .skill-container .skill {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 5rem;
}

main .skill-container .skill img {
  width: 10rem;
}

main aside {
  position: fixed;
  inset-block: 0;
  inset-inline-end: 0;
}

main aside .social-media {
  height: 100%;
  display: flex;
}

main aside .social-media ul {
  padding: 1.5rem 1rem;
  margin: auto;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #f45050;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

main aside .social-media li {
  list-style-type: none;
}

main aside .social-media li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  transition: all 0.1s ease-in-out;
}

main aside .social-media li a:hover {
  color: #89b0d9;
}

footer {
  height: auto;
  width: 100vw;
  background-color: #3c486b;
  padding: 3rem;
  color: white;
}

footer .group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  margin-bottom: 4rem;
}

footer .group .group-1 h3 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

footer .group .group-1 h4.email-us {
  margin-bottom: 10px;
}

footer .group .group-1 p {
  margin: 0;
}

footer .group .group-2 h3 {
  font-size: 1.3rem;
}

footer .group .group-2 ul {
  margin-left: 0;
  padding-left: 1.5rem;
}

footer .group .group-2 ul li {
  list-style-type: disc;
}

footer .group .group-2 ul li a {
  text-decoration: none;
  font-size: 1.05rem;
  color: white;
}

footer .group .group-2 ul li a:hover {
  color: #f45050;
}

footer .copyright {
  display: flex;
  justify-content: center;
  border-top: 1px solid white;
  padding-top: 1rem;
}

/* Media Query ===============================> */

@media screen and (max-width: 650px) {
  header.navbar-container {
    position: fixed;
    z-index: 1000;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
  }

  header.navbar-container a.nav-home {
    font-size: 1.5rem;
  }

  header.navbar-container .menu-toggle {
    display: block;
  }

  header nav.nav-list {
    position: absolute;
    width: 100%;
    background-color: #3c486b;
    top: 50px;
    left: -100%;
    transition: 0.5s all;
    margin-top: 0.4rem;
  }

  header.navbar-container nav.nav-list.active {
    left: 0;
  }

  header nav.nav-list ul {
    display: block;
    text-align: center;
  }

  header.navbar-container nav.nav-list ul li a {
    list-style-type: none;
    color: white;
  }

  main .home-container {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem;
    justify-content: start;
  }

  main .home-container .profile {
    margin-top: 5rem;
  }

  main .home-container .profile h1.name-line {
    font-size: 1.5rem;
  }

  main .home-container .profile h1.name-line span.my-name {
    font-size: 2rem;
  }

  main .home-container .photo-image img {
    width: 100%;
  }

  main .home-container .profile button {
    padding: 1rem 2rem;
    margin-top: 1rem;
    transition: all 0.1s ease-in-out;
  }

  main .home-container .profile button a {
    font-size: 0.8rem;
  }

  main .about-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 0 4rem 4rem 4rem;
  }

  main .about-container .about {
    margin-top: 10rem;
    padding: 0;
    width: 100%;
  }

  main .about-container .experiences {
    margin: 0;
    width: 100%;
  }

  main .portfolio-container {
    padding: 0 4rem 4rem 4rem;
    margin: 0;
  }

  main .portfolio-container .portfolio-list {
    padding: 0;
    margin: 0;
  }

  main .portfolio-container .portfolio-list .port-card {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  main .skill-container {
    padding: 0 3rem 3rem 3rem;
  }

  main .skill-container .skill-title {
    margin-bottom: 3rem;
  }

  main .skill-container .skill {
    padding: 0;
  }
}

@media screen and (max-width: 734px) {
  header.navbar-container {
    position: fixed;
    z-index: 1000;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
  }

  header.navbar-container a.nav-home {
    font-size: 1.5rem;
  }

  header.navbar-container .menu-toggle {
    display: block;
  }

  header nav.nav-list {
    position: absolute;
    width: 100%;
    background-color: #3c486b;
    top: 50px;
    left: -100%;
    transition: 0.5s all;
    margin-top: 0.4rem;
  }

  header.navbar-container nav.nav-list.active {
    left: 0;
  }

  header nav.nav-list ul {
    display: block;
    text-align: center;
  }

  header.navbar-container nav.nav-list ul li a {
    list-style-type: none;
    color: white;
  }

  main .home-container {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem;
    justify-content: start;
  }

  main .home-container .profile {
    margin-top: 5rem;
  }

  main .home-container .profile h1.name-line {
    font-size: 1.5rem;
  }

  main .home-container .profile h1.name-line span.my-name {
    font-size: 2rem;
  }

  main .home-container .photo-image img {
    width: 100%;
  }

  main .home-container .profile button {
    padding: 1rem 2rem;
    margin-top: 1rem;
    transition: all 0.1s ease-in-out;
  }

  main .home-container .profile button a {
    font-size: 0.8rem;
  }

  main .about-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 4rem 4rem 4rem 4rem;
  }

  main .about-container .about {
    margin-top: 10rem;
    padding: 0;
    width: 100%;
  }

  main .about-container .experiences {
    margin: 0;
    width: 100%;
  }

  main .portfolio-container {
    padding: 0 4rem 4rem 4rem;
    margin: 0;
  }

  main .portfolio-container .portfolio-list {
    padding: 0;
    margin: 0;
  }

  main .portfolio-container .portfolio-list .port-card {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  main .skill-container {
    padding: 0 3rem 3rem 3rem;
  }

  main .skill-container .skill-title {
    margin-bottom: 3rem;
  }

  main .skill-container .skill {
    padding: 0;
  }
}

@media screen and (max-width: 1087px) {
  main .home-container {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem;
    justify-content: start;
  }

  main .home-container .profile {
    margin-top: 5rem;
  }

  main .home-container .photo-image img {
    width: 100%;
  }

  main .home-container .profile button {
    padding: 1rem 2rem;
    margin-top: 1rem;
    transition: all 0.1s ease-in-out;
  }

  main .home-container .profile button a {
    font-size: 0.8rem;
  }

  main .about-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 4rem 4rem 4rem 4rem;
  }

  main .about-container .about {
    margin-top: 35rem;
    padding: 0;
    width: 100%;
  }

  main .about-container .experiences {
    margin: 0;
    width: 100%;
  }

  main .portfolio-container {
    padding: 0 4rem 4rem 4rem;
    margin: 0;
  }

  main .portfolio-container .portfolio-list {
    margin: 0;
  }

  main .portfolio-container .portfolio-list .port-card {
    margin: 0;
    width: 100%;
  }

  main .skill-container {
    padding: 0 3rem 3rem 3rem;
  }

  main .skill-container .skill-title {
    margin-bottom: 3rem;
  }

  main .skill-container .skill {
    padding: 0;
  }
}
